<div class="card" style="width: 16rem;" *ngIf="isReady() && !fecha.iniciado; else enVivo">
    <div>Proxima Fecha</div>
    <div>{{fecha.fechaHoraInicio | date:"E dd/MM/yy HH:mm"}}</div>
    <div class="row">
        <div class="col-md-4">
            <div>{{fecha.local.nombre}}</div>
            <img src={{fecha.local.urlEscudo}} alt={{fecha.local.nombre}}>
        </div>
        <div class="col-md-4">
            <div>VS</div>
        </div>
        <div class="col-md-4">
            <div>{{fecha.visitante.nombre}}</div>
            <img src={{fecha.visitante.urlEscudo}} alt={{fecha.visitante.nombre}}>
        </div>
    </div>
    <div>{{fecha.lugar}}</div>
</div>
<ng-template #enVivo>
    <div class="card" style="width: 16rem;" *ngIf="isReady() && fecha.iniciado">
        <div>{{fecha.fechaHoraInicio | date:"E dd/MM/yy HH:mm"}}</div>
        <div *ngIf="fecha.partidoFinalizado()" class="finalizado">Finalizado</div>
        <div class="row">
            <div class="col-md-4">
                <h2>{{fecha.setsGanadosLocal()}}</h2>
                <img src={{fecha.local.urlEscudo}} alt={{fecha.local.nombre}}>
                <div>{{fecha.local.nombre}}</div>
            </div>
            <div>
                <ul class="puntajes" *ngFor="let set of fecha.sets">
                    <li>
                        <span [ngClass]='{red : set.ganoLocal()}'>{{set.puntosLocal}}</span>
                        - <span [ngClass]='{red : set.ganoVisitante()}'>{{set.puntosVisitante}}</span></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>{{fecha.setsGanadosVisitante()}}</h2>
                <img src={{fecha.visitante.urlEscudo}} alt={{fecha.visitante.nombre}}>
                <div>{{fecha.visitante.nombre}}</div>
            </div>
        </div>
        <div>{{fecha.lugar}}</div>
    </div>
</ng-template>
